body, h1, h2, ul, p, dl, dl dt, dl dd, form {
	margin: 0;
	padding: 0;
}
a {
	color: #29f;
	/*
	border-bottom: 1px dotted #0b77d6;
	*/
}
a:hover {
	color: #ff6666;
	/*
	border-bottom: 1px dotted #e02d2d;
	*/
}
div.clearer {
	clear: both;
	height: 0;
	font-size: 0;
	text-indent: -10000px;
}

body {
	text-align: center;
}

/* =wrapper */
#wrapper {
	width: 70%;
	margin: 1em auto 0 auto;
	text-align: left;
}

/* =header */
#header {
	background: transparent url(../img/head_border.png) repeat-x bottom;
	padding-bottom: 5px;
	margin-bottom: 0.5em;
}
#header h1 {
	background: #fff url(../img/favicon32.png) no-repeat left 50%;
	padding-left: 35px;
	height: 32px;
	line-height: 32px;
	color: #777;

	float: left;
	font-size: medium;
}
#header a {
	padding-left: 20px;
}
#header p {
	float: right;
	margin-left: 20px;
	font-size: small;
}
#header p#pan {
	float: left;
	line-height: 32px;
	margin-left: 10px;
	color: #a00;
}
#header p#pan a {
	padding-left: 0;
}
#header form {
	float: right;
	margin-left: 20px;
}
#header a.edit {
	background: transparent url(../img/edit.png) no-repeat left 50%;
}
/*#header a.back {*/
a.back {
	background: transparent url(../img/home.png) no-repeat left 50%;
}

#header form input#login, #header form input#password {
	padding-left: 20px;
	border: 1px solid #ccc;
	width: 7em;
}
#header form input#login {
	background: #fff url(../img/login.png) no-repeat left 50%;
}
#header form input#password {
	background: #fff url(../img/unlock.png) no-repeat left 50%;
}

/* =container */
#container {
}

#container p#search_form a {
	font-size: small;
}
#container p#search_form input#search {
	border: 1px solid #aaa;
	background: transparent url(../img/search.png) no-repeat left 50%;
	padding-left: 20px;
	width: 15em;
}

#container dl {
	margin-top: 10px;
}
#container dl dt {
	background: transparent url(../img/close.png) no-repeat left 50%;
	padding-left: 15px;

	font-weight: bold;
	letter-spacing: 1px;
	color: #777;
	font-size: small;
	cursor: pointer;
}
#container dl dt.closed {
	background: transparent url(../img/open.png) no-repeat left 50%;
}
#container dl dd {
	margin-left: 15px;
}

#container ul.items {
	list-style: none;
}

#container ul.items li label.done {
	color: #aaa;
	text-decoration: line-through;
}

#container ul.items li span.tag {
	color: #f00;
	cursor: pointer;
}

#container ul.items li p.text {
	color: #555;
	text-indent: 2.5em;
}
#container dl dd ul.items li p.done {
	color: #b0b0b0;
}

#container dl dd ul li a.link {
	font-size: small;
}

#container p#go_top {
	text-align: right;
}
#container p#go_top a {
	background: transparent url(../img/up.png) no-repeat left 50%;
	padding-left: 20px;
	font-size: small;
}
/* edit view */
#container form#edit_form textarea {
	width: 100%;
	height: 25em;
}
#container form#edit_form p {
	text-align: right;
	margin-top: 5px;
	font-size: small;
}
#container form#edit_form p a {
	padding-left: 20px;
}

/* =footer */
#footer {
	background: #811 url(../img/foot_border.png) no-repeat left top;
	height: 15px;
	margin-top: 20px;
}
#footer p {
	margin: 0 3px 2px 0;
	text-align: right;
	font-size: x-small;
	letter-spacing: 1px;
	color: #ddd;
}

