<!DOCTYPE HTML>
<html>
 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>unitaskpapera - {{page}} - edit</title>
</head>
<body>
<form method="POST" action="{{root}}/main/{{page}}" enctype="multipart/form-data">
  <textarea name="data" cols="80" rows="20">{{data}}</textarea><br />
  <input type="submit" value="save">
  <input type="hidden" name="sessid" value="{{sessid}}" />
</form>
  <p><a href="{{root}}/main/{{page}}?sessid={{sessid}}">back to {{page}}</a></p>
</body>
 
</html>

