<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="{{root}}/css/main.css" />
	<script type="text/javascript" src="{{root}}/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="{{root}}/js/app.js"></script>
	<title>unitaskpapera - {{page}}</title>
</head>
<body>
	<div id="header">
		<h1>unitaskpapera</h1>
		<!-- =edit link -->
		<p data-keep-if="owner"><a href="{{root}}/edit/{{page}}" class="edit">edit</a></p>
		<!-- =back link -->
		<p data-remove-if="isIndex"><a href="{{root}}" class="back">back to index</a></p>
		<div class="clearer">&nbsp;</div>
	</div>

	<div id="container">
		<!-- =page title -->
		<h2>{{page}}</h2>
		<!-- =search form -->
		<p id="search_form">
			<input type="text" id="search" value="" />
			<a href="javascript:void(0);" id="clear">clear</a>
		</p>
		<div class="clearer">&nbsp;</div>

		<dl data-list="items">
			<!-- =group title -->
			<dt id="group_{{items[].key}}" class="group">{{items[].value.name}}</dt>
			<!-- =group body -->
			<dd id="group_body_{{items[].key}}" data-keep-if="items[].value.opened">
			<dd id="group_body_{{items[].key}}" class="closed" data-remove-if="items[].value.opened">
				<ul class="items">
				<li data-list="items[].value.tasks">
					<!-- =check box -->
					<input type="checkbox" id="item_{{items[].value.tasks[].key}}" checked="checked" data-keep-if="items[].value.tasks[].value.done" />
					<input type="checkbox" id="item_{{items[].value.tasks[].key}}" data-remove-if="items[].value.tasks[].value.done" />
					
					<!-- =task caption -->
					<label for="item_{{items[].value.tasks[].key}}" id="label_{{items[].value.tasks[].key}}" class="done" data-keep-if="items[].value.tasks[].value.done">{{items[].value.tasks[].value.caption}}</label>
					<label for="item_{{items[].value.tasks[].key}}" id="label_{{items[].value.tasks[].key}}" data-remove-if="items[].value.tasks[].value.done">{{items[].value.tasks[].value.caption}}</label>
			
					<!-- =tags -->
					<span class="tag t{{items[].value.tasks[].key}}" data-list="items[].value.tasks[].value.tags">
						{{items[].value.tasks[].value.tags[]}}
					</span>

					<!-- =text -->
					<p class="text done" data-keep-if="items[].value.tasks[].value.done" data-list="items[].value.tasks[].value.text">
						{{items[].value.tasks[].value.text[]}}
					</p>
					<p class="text" data-remove-if="items[].value.tasks[].value.done" data-list="items[].value.tasks[].value.text">
						{{items[].value.tasks[].value.text[]}}
					</p>

				</li>
				</ul>
			</dd>
		</dl>
	
		<input type="hidden" id="address" value="{{root}}" />
		<input type="hidden" id="page" value="{{page}}" />
		<input type="hidden" id="owner" value="true" data-keep-if="owner" />
	
		<p data-remove-if="isIndex"><a href="{{root}}" class="back">back to index</a></p>
	</div>

	<div id="footer">
		<p>&copy; 2009 masashi iizuka</p>
	</div>
</body>
</html>

