<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="{{appPath}}/css/main.css" />
	<script type="text/javascript" src="{{appPath}}/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="{{appPath}}/js/app.js"></script>
	<title>unitaskpapera - {{page}}</title>
</head>
<body>
	<div id="header">
		<h1>unitaskpapera</h1>
		<!-- =edit link -->
		<p data-keep-if="logined"><a href="{{appPath}}/edit/{{page}}" class="edit">edit</a></p>
		<!-- =back link -->
		<p data-remove-if="isIndex"><a href="{{appPath}}" class="back">back to index</a></p>
		<!-- =login -->
		<form method="POST" action="{{appPath}}/login" data-remove-if="logined">
			<input type="password" name="password" id="login" />
			<input type="submit" value="login" />
		</form>
		<!-- =password -->
		<form method="POST" action="{{appPath}}/change_password" data-keep-if="isOwner">
			<input type="text" name="password" value="{{password}}" id="password" />
			<input type="submit" value="change" />
		</form>

		<div class="clearer">&nbsp;</div>
	</div>

	<div id="container">
		<!-- =page title -->
		<h2>{{page}}</h2>
		<!-- =search form -->
		<p id="search_form">
			<input type="text" id="search" value="" />
			<a href="javascript:void(0);" id="clear">clear</a>
		</p>
		<div class="clearer">&nbsp;</div>

		<dl data-list="items">
			<!-- =group title -->
			<dt id="group_{{items[].key}}" class="group" data-keep-if="items[].value.opened">{{items[].value.name}}</dt>
			<dt id="group_{{items[].key}}" class="group closed" data-remove-if="items[].value.opened">{{items[].value.name}}</dt>
			<!-- =group body -->
			<dd id="group_body_{{items[].key}}" data-keep-if="items[].value.opened" data-import="template/group_item.htm"></dd>
			<dd id="group_body_{{items[].key}}" class="closed" data-remove-if="items[].value.opened" data-import="template/group_item.htm"></dd>
		</dl>
	
		<input type="hidden" id="address" value="{{appPath}}" />
		<input type="hidden" id="page" value="{{page}}" />
		<input type="hidden" id="logined" value="true" data-keep-if="logined" />
	
		<p data-remove-if="isIndex"><a href="{{appPath}}" class="back">back to index</a></p>
	</div>

	<div id="footer">
		<p>&copy; 2009 masashi iizuka</p>
	</div>
</body>
</html>

