<?xml version="1.0" encoding="utf-8"?>
<widget network="public">
	<widgetname>unitaskpapera</widgetname>
	<description>Task Paper Clone for Opera Unite</description>

	<feature name="http://xmlns.opera.com/webserver">
		<param name="type" value="service"/>
		<param name="servicepath" value="unitask"/>
	</feature>

	<feature name="http://xmlns.opera.com/fileio" />

	<icon height="64" width="64">public_html/img/favicon64.png</icon>icon>
	<icon height="48" width="48">public_html/img/favicon48.png</icon>icon>
	<icon height="32" width="32">public_html/img/favicon32.png</icon>icon>
	<icon height="16" width="16">public_html/img/favicon16.png</icon>icon>

	<author>
		<name>Masashi Iizuka</name>
		<link>http://twitter.com/uochan</link>
		<organization /><email />
	</author>
</widget>

